# Network signer
PRIVATE_KEY="your_private_key_without_0x"
HUB_RPC_URL="https://eth-rpc-testnet.polkadot.io/"

# Existing deployed contracts (used by scripts)
RISK_ENGINE_ADDRESS="0xYourRustRiskEngine"
PRICE_FEED_ADDRESS="0xYourPriceFeed"
PUSD_ADDRESS="0xYourPolkaDollar"
VAULT_ADDRESS="0xYourCollateralVault"

# Oracle
COINGECKO_API_KEY="your_coingecko_key"
COINGECKO_USE_PRO="false"
COINGECKO_ID="polkadot"
VS_CURRENCY="usd"
PRICE_DECIMALS="18"
ORACLE_INTERVAL_SECONDS="300"
ORACLE_ONCE="true"

# E2E test knobs
TEST_PRICE_18="7000000000000000000"
VAULT_PRICE_DECIMALS="1000000000000000000"
TEST_DEPOSIT_DOT="1"
TEST_MINT_PUSD="1"
TEST_BURN_PUSD="0.5"
TEST_WITHDRAW_DOT="0.1"
TEST_AUTO_MINT="true"
